<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search For Booking</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
     <header>
       <div class="row">
			<ul>
				<li style="margin-left: 2%;"> <a  href="/" title="GPU Information"> Home</a></li>
				<li> <a  href="/addRoom" title="Add New Room">Add New Room</a></li>
				<li> <a  href="/search" title="Search"  class="active">Search</a></li>
                <li> <a  href="/download" title="Download">Download</a></li>
				<li style=" float:right; margin-right: 2%">
                {% if user %}
                    <a href='{{ login_logout_url }}'>Logout</a>
                {% else %}
                    <a href='{{ login_logout_url }}'>Login</a>
                {% endif %}
                </li>
			</ul>
	   </div>
	 </header>
  <section>

	  {% if user %}
                    <h4 class="listHeader headerColor">{{ main_header }}</h4>
	   <div class="row">
			<div class="col-md-11" style="margin-left: 5%;">
				<form method="post" id="input_data_form" action="/search">
                    <table id="search" class="table table-hover table-bordered">
                        <tbody>
						<tr>
        					<td >Please select the date</td>
        					<td >
							<div class="row">
								<div class="col-md-4">
									<label for="startDate"></label>
								</div>
								<div class="col-md-4">
									<input type="date" id="startDate" name="date" placeholder="yyyy-mm-dd" required/>
								</div>
							</div>
								<p style="color: red">{{ error_message }}</p>
                            </td>
        				  </tr>
    				    </tbody>
			        </table>
                    <div class="row">
						<div class="col-md-2 col-md-offset-6">
							<input  class="btn btn-primary" form="input_data_form" type="submit" value="Search" name="button"/>
						</div>
					</div>
                </form>
			</div>
		  </div>
          <div class="row">
              <div class="row">
			<div class="col-md-11" style="margin-left: 5%;">
                {% if room_list %}
                    <table id="table" class="table table-hover table-bordered">
                    <thead>
				        <tr>
					        <th style="text-align: center">Room Name</th>
                            <th style="text-align: center">Room Created By</th>
                            <th style="text-align: center">Matched Room Bookings (For full list, go to home page)</th>
                            <th style="text-align: center"></th>
				        </tr>
				    </thead>
                    <tbody>
                    {% for each_room in room_list %}
                        <tr>
                            <td align="center">{{ each_room.roomName }}</td>
                            <td align="center">{{ each_room.createdBy }}</td>
                            <td align="center">
                                    <div id="{{each_room.roomName}}">
                                        {% if each_room.booking %}
                                            <table id="inner_table" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">Booking ID</th>
                                                        <th style="text-align: center">Start Time</th>
                                                        <th style="text-align: center">End Time</th>
                                                        <th style="text-align: center">Reserved By</th>
                                                        <th style="text-align: center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for each_booking in each_room.booking %}
                                                        <tr>
                                                            <td style="text-align: center">{{each_booking.bookingId}}</td>
                                                            <td style="text-align: center">{{each_booking.startTime}}</td>
                                                            <td style="text-align: center">{{each_booking.endTime}}</td>
                                                            <td style="text-align: center">{{each_booking.userCreated}}</td>
                                                            <td style="text-align: center">
                                                                <form action="/deleteBooking" method="post">
                                                                    <input type="hidden" name="room_name" value="{{ each_room.roomName }}"/>
                                                                    <input type="hidden" name="bookingId" value="{{each_booking.bookingId}}"/>
                                                                    <input align="center" class="btn btn-danger btn-sm"  type="submit" value="Delete Booking" name="button"/>
                                                                </form>
                                                            </td>
                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            No Bookings Found.
                                        {% endif %}
                                        <form id="newBooking" method="post" action="/addBooking">
                                            <button type="submit" class="btn btn-success btn-sm">Add a Booking</button>
                                            <input type="hidden" value="{{ each_room.key.id() }}" name="room_name"/>
                                            <input type="hidden" value="main" id="page_id" name="page_id"/>
                                        </form>
                                    </div>
                            </td>
                            <td style="text-align: center">
                                <form action="/delete" method="post">
                                    <input type="hidden" name="room_name" value="{{ each_room.roomName }}"/>
                                    <input align="center" class="btn btn-danger btn-sm"  type="submit" value="Delete Room" name="button"/>
                                    <p style="color: red">{{ error_message }}</p>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                {% endif %}
			    </div>
            </div>
          </div>
                {% else %}
                   <h4 class="listHeader">Please Login to Access This Page..!!</h4>
                {% endif %}



 </section>
     <!-- <footer class="footer"> -->
		<!-- <div class="col-12" style="height:30px;"> -->
			 <!-- <p style="text-align:center;">Assignment</p>  -->
            <!-- </div> -->
    <!-- </footer> -->
   </div>
 <script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.min.js"></script>


  </body>
</html>